---
import Layout from './../layouts/Layout.astro'
---

<Layout title="byebye" type="website" image="https://via.placeholder.com/150" description="this is a sample app that should rickroll you">
	<main>
		<h1>Hello world</h1>
	</main>
</Layout>

<script>
// const targetLink = "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
// const targetLink = 'https://www.example.org'
// window.location.replace(targetLink)
</script>

